In [1]:
import pandas as pd

import os

import numpy as np

In [2]:
# reading the csv files

account_data_path = r"C:\Users\rohit\Desktop\SettleKing_SQL\accountactivitydesensitized.csv"

creditcard_data_path = r"C:\Users\rohit\Desktop\SettleKing_SQL\CreditCard11.csv"

merch_data = r"C:\Users\rohit\Desktop\SettleKing_SQL\Merchat_Categories.csv"

In [3]:
account_columns = ["Date","Amount","drop","Cheque_Number","Description"]

creditcard_columns = ["Date","Amount","drop_1","drop_2","Description"]

In [4]:
account_activity_df = pd.read_csv(account_data_path,names = account_columns, header = None)

creditcard_df = pd.read_csv(creditcard_data_path,names = creditcard_columns, header = None)

merch_df = pd.read_csv(merch_data)

In [5]:
print("Information on Account Activity Data\n")

print(account_activity_df.info(),"\n")

print("----------------------------------\n")

print("Descritpion of Account Activity Data\n")

print(account_activity_df.describe())

Information on Account Activity Data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           99 non-null     object
 1   Amount         99 non-null     float64
 2   drop           99 non-null     object
 3   Cheque_Number  9 non-null      float64
 4   Description    99 non-null     object
dtypes: float64(2), object(3)
memory usage: 4.7+ KB
None

----------------------------------

Descritpion of Account Activity Data

              Amount  Cheque_Number
count      99.000000       9.000000
mean    -1220.551414     118.333333
std     13874.732425       5.000000
min   -100000.000000     113.000000
25%     -3687.500000     115.000000
50%      -900.000000     117.000000
75%        48.370000     119.000000
max     50000.000000     127.000000

In [6]:
print("Information on Credit Card Data\n")

print(creditcard_df.info(),"\n")

print("----------------------------------\n")

print("Descritpion of Credit Card Data\n")

print(creditcard_df.describe())

Information on Credit Card Data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212 entries, 0 to 211
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         212 non-null    object
 1   Amount       212 non-null    float64
 2   drop_1       212 non-null    object
 3   drop_2       0 non-null      float64
 4   Description  212 non-null    object
dtypes: float64(2), object(3)
memory usage: 8.4+ KB
None

----------------------------------

Descritpion of Credit Card Data

            Amount  drop_2
count   212.000000     0.0
mean    -30.215377     NaN
std     623.218113     NaN
min   -4445.250000     NaN
25%    -109.552500     NaN
50%     -35.715000     NaN
75%     -10.992500     NaN
max    3500.000000     NaN

In [7]:
account_activity_df = account_activity_df.drop("drop", axis = 1)

account_activity_df = account_activity_df.dropna(how = "all")

account_activity_df["Date"] = pd.to_datetime(account_activity_df["Date"])

account_activity_df["Cheque_Number"] = account_activity_df["Cheque_Number"].astype("Int64")

In [8]:
creditcard_df = creditcard_df.drop(["drop_1","drop_2"], axis = 1)

creditcard_df = creditcard_df.dropna(how = "all")

creditcard_df["Date"] = pd.to_datetime(creditcard_df["Date"])

In [9]:
# 1 for credit and 0 from debit.

account_activity_df["Transaction_Type"] = account_activity_df["Amount"].map(lambda x: 1 if x > 0 else 0)

# 1 for payment to card and 0 is payment to card.

creditcard_df["Transaction_Type"] = creditcard_df["Amount"].map(lambda x: 1 if x < 0 else 0)

In [10]:
account_activity_df.head(n = 5)

,Date,Amount,Cheque_Number,Description,Transaction_Type
0,2024-07-24,-217.67,<NA>,STATE FARM RO 27 SFPP 15 S 1074398715 SV,0
1,2024-07-24,-7500.00,<NA>,ONLINE TRANSFER REF #IB0NYCH2M4 TO VISA SIGNAT...,0
3,2024-07-24,-3875.00,<NA>,ONLINE TRANSFER TO 9LLABS LLC REF #IB0NYCGZRL ...,0
5,2024-07-18,-330.00,127,DEPOSITED OR CASHED CHECK # 127,0
7,2024-07-08,-9975.00,<NA>,ONLINE TRANSFER TO 9LLABS LLC REF #IB0NSKMG2J ...,0

In [11]:
creditcard_df.head(n = 5)

        Date  Amount                             Description  Transaction_Type
0 2025-06-30  -11.02    PONY MAILBOX AND BUSINESSBELLEVUE WA                 1
1 2025-06-29 -150.00           DELTA AIR Upgrades SEATTLE WA                 1
2 2025-06-29   -6.33  AMAZON MKTPL*N35R76AA2 Amzn.com/billWA                 1
3 2025-06-29   -6.33  AMAZON MKTPL*N34153A22 Amzn.com/billWA                 1
4 2025-06-29  -13.17  AMAZON MKTPL*N37EB3J32 Amzn.com/billWA                 1

In [12]:
os.makedirs("../data/raw", exist_ok = True)

In [13]:
account_activity_df.to_csv("../data/raw/account.csv", index = False)

creditcard_df.to_csv("../data/raw/creditcard.csv", index = False)

merch_df.to_csv("../data/raw/merch.csv", index = False)